body{
    font-family: Helvetica, sans-serif, Arial;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#wrapper{
    width: 100%;
    max-width: 435px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px 10px rgba(0,0,0,0.1);
}

#header{
    margin-left: 10px;
    margin-bottom: -10px;
}

#content{
    margin-left: 10px;
    margin-bottom: 30px;
    font-weight: normal;
}

#register{
    padding: auto;
    margin: 10px;
}

input[type="email"], input[type="text"], input[type="password"] {
    width: 100%;
    height: 50px; 
    padding: 10px; 
    font-size: 16px;
    margin-bottom: 10px; 
    box-sizing: border-box; 
    border-radius: 5px
}

#psw {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#cpsw {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#eye1 {
    position: absolute;
    margin-left: -35px;
    margin-top: -45px;
    cursor: pointer;
}

#eye1:hover {
    color: #1c6ec5;
}

#eye2 {
    position: absolute;
    margin-left: -35px;
    margin-top: 17.5px;
    cursor: pointer;
}

#eye2:hover {
    color: #1c6ec5;
}

#terms {
    margin-top: -5px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

input[type="submit"] {
    width: 75%;
    height: 50px; 
    padding: 10px; 
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 10px; 
    box-sizing: border-box; 
    border-radius: 100px;
    background-color: #1c6ec5;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1f65af;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid::before {
    position: relative;
    left: -35px;
    content: "✖";
}