body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    border-radius: 20px;
    max-width: 500px;
    box-shadow: 5px 10px 10px 10px rgba(0,0,0,0.1);
}

#display{
    width: 100%;
    padding: 0px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 15%);
    color: white;
    border-radius: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: rtl;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 35%);
}

button:active{
    background-color: hsl(0, 0%, 45%);
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.oprtr{
    background-color: hsl(25, 100%, 50%);
}

.oprtr:hover{
    background-color: hsl(25, 100%, 60%);
}

.oprtr:active{
    background-color: hsl(25, 100%, 70%);
}